!!!
%html
  %head
    %title Dota2comp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Latest compiled and minified CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}
      / Optional theme
      %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css", :rel => "stylesheet"}
        / Latest compiled and minified JavaScript
        %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
  %body
    %h1 Welcome to Dota 2 online competition
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse.app__top-navigation-wrapper
          = render_navigation :expand_all => true, :renderer => :bootstrap
          %ul.nav.navbar-nav.navbar-right
            - if session.key? :user
              %li
                %a{:href => "/mymatches"}
                  Hi #{session[:user][:nickname]}
              %li= image_tag session[:user][:image], class: 'avatar'
              %li
                %a{:href => "/logout"} Logout
            - else
              %li= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam'
        / /.navbar-collapse
      / /.container-fluid
    = yield